<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.tilmanginzel.alfred.bluetooth</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>41ED5E40-FDC2-4CC2-B623-026602C92681</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA9941D7-2AF5-4111-BFC0-16FAB65DE769</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61C63D54-3FD7-4B06-8D2D-BE986209EF33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1DD651B-82CA-4B51-B102-90800A9ECF58</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>848C143E-61B7-4529-A5CF-9FD342644158</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7E9F8DE7-DFF5-4761-A0C9-C9D4D0765D8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1F62184-2F0A-4BDB-A1C0-63C67DD19002</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11C37C96-EEEC-43C7-8D24-83D7987D52DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tilman Ginzel</string>
	<key>description</key>
	<string>Connect / Disconnect to Bluetooth devices</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bluetooth Connector</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>blt</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Fetching list of bluetooth devices...</string>
				<key>script</key>
				<string>python alfred_bluetooth_workflow.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Connect / disconnect bluetooth device</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D1F62184-2F0A-4BDB-A1C0-63C67DD19002</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/blt.sh {query} "$title"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>11C37C96-EEEC-43C7-8D24-83D7987D52DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/blt-on.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1DD651B-82CA-4B51-B102-90800A9ECF58</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>blt-on</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Bluetooth: On</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>61C63D54-3FD7-4B06-8D2D-BE986209EF33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/blt-toggle.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AA9941D7-2AF5-4111-BFC0-16FAB65DE769</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>blt-toggle</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Bluetooth: Toggle On/Off</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>41ED5E40-FDC2-4CC2-B623-026602C92681</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>blt-off</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Bluetooth: Off</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>848C143E-61B7-4529-A5CF-9FD342644158</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./scripts/blt-off.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7E9F8DE7-DFF5-4761-A0C9-C9D4D0765D8F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11C37C96-EEEC-43C7-8D24-83D7987D52DA</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>41ED5E40-FDC2-4CC2-B623-026602C92681</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>61C63D54-3FD7-4B06-8D2D-BE986209EF33</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>7E9F8DE7-DFF5-4761-A0C9-C9D4D0765D8F</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>848C143E-61B7-4529-A5CF-9FD342644158</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>AA9941D7-2AF5-4111-BFC0-16FAB65DE769</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>C1DD651B-82CA-4B51-B102-90800A9ECF58</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>D1F62184-2F0A-4BDB-A1C0-63C67DD19002</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/tilmanginzel/alfred-bluetooth-workflow</string>
</dict>
</plist>
